<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>
		<link href="style.css" rel="stylesheet"/>
		
	</head>
	<body>
		<div class="container wrapper">
			<div class="row">
				<div class="col-2 my-cell">
					<p>CUSTOMER NAME:</p>
				</div>
				<div class="col-4 my-cell">
					<p>#customer#</p>
				</div>
				<div class="col-2 my-cell">
					<p>НАЗВАНИЕ КЛИЕНТА:</p>
				</div>
				<div class="col-4 my-cell">
					<p>#customer_rus#</p>
				</div>
			</div>
			<div class="row">
				<div class="col-2 my-cell">
					<p>FROM:</p>
				</div>
				<div class="col-4 my-cell">
					<p>#from#</p>
				</div>
				<div class="col-2 my-cell">
					<p>ОТ КОГО:</p>
				</div>
				<div class="col-4 my-cell">
					<p>#from_rus#</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col-4 my-cell">
							<p>OFFER NO.:</p>
						</div>
						<div class="col-2 my-cell">
							<p>#offernum#</p>
						</div>
						<div class="col-3 my-cell">
							<p>DATE:</p>
						</div>
						<div class="col-3 my-cell">
							<p>#offerdate#</p>
						</div>
					</div>
					
				</div>
				<div class="col">
					<div class="row">
						<div class="col-4 my-cell">
							<p>КОММЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ №:</p>
						</div>
						<div class="col-2 my-cell">
							<p>#offernum#</p>
						</div>
						<div class="col-3 my-cell">
							<p>ДАТА:</p>
						</div>
						<div class="col-3 my-cell">
							<p>#offerdate#</p>
						</div>
					</div>
					
				</div>
			</div>
			<div class="row">
				<div class="col-2 my-cell">
					<p>SUBJECT:</p>
				</div>
				<div class="col-4 my-cell">
					<p>#subject#</p>
				</div>
				<div class="col-2 my-cell">
					<p>ТЕМА:</p>
				</div>
				<div class="col-4 my-cell">
					<p>#subject_rus#</p>
				</div>
			</div>
			<div class="row">
				<div class="col my-cell">
					<p>#headertext#</p>
				</div>
				<div class="col my-cell">
					<p>#headertext_rus#</p>
				</div>
			</div>


			<div class="table">
				<div class="my-table-head">
					<div class="row">
						<div class="col">
							<div class="row">
								<div class="col-2">
									<p>CODE</p>
								</div>
								<div class="col-1">
									<p>Q-TY</p>
								</div>
								<div class="col-1">
									<p>U.M.</p>
								</div>
								<div class="col-4">
									<p>DESCRIPTION</p>
								</div>
								<div class="col-2">
									<p>UNIT PRICE, EURO</p>
								</div>
								<div class="col-2">
									<p>AMOUNT, EURO</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="row">
								<div class="col-2">
									<p>КОД</p>
								</div>
								<div class="col-1">
									<p>КОЛ-ВО</p>
								</div>
								<div class="col-1">
									<p>ЕД. ИЗМ.</p>
								</div>
								<div class="col-4">
									<p>НАИМЕНОВАНИЕ</p>
								</div>
								<div class="col-2">
									<p>ЦЕНА ЗА ЕД., ЕВРО</p>
								</div>
								<div class="col-2">
									<p>СУММА, ЕВРО</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="my-table-content">
						<div class="row">
							<div class="col">
								<div class="row">
									<div class="col-2">
										<p>#code#</p>
									</div>
									<div class="col-1">
										<p>#count#</p>
									</div>
									<div class="col-1">
										<p>#um#</p>
									</div>
									<div class="col-4">
										<p>#description#</p>
									</div>
									<div class="col-2">
										<p>#price#</p>
									</div>
									<div class="col-2">
										<p>#amount#</p>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="row">
									<div class="col-2">
										<p>#code#</p>
									</div>
									<div class="col-1">
										<p>#count#</p>
									</div>
									<div class="col-1">
										<p>#um_rus#</p>
									</div>
									<div class="col-4">
										<p>#description_rus#</p>
									</div>
									<div class="col-2">
										<p>#price#</p>
									</div>
									<div class="col-2">
										<p>#amount#</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<img src="..." class="img-fluid"/>
					</div>




			</div>
			<div class="my-footer">
				<div class="row">
					<div class="col-3">
						<p>Delivery:</p>
					</div>
					<div class="col-3">
						<p>#delivery#</p>
					</div>
					<div class="col-3">
						<p>Сроки поставки:</p>
					</div>
					<div class="col-3">
						<p>#delivery_rus#</p>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<p>Payment:</p>
					</div>
					<div class="col-3">
						<p>#payment#</p>
					</div>
					<div class="col-3">
						<p>Оплата:</p>
					</div>
					<div class="col-3">
						<p>#payment_rus#</p>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<p>Goods delivered:</p>
					</div>
					<div class="col-3">
						<p>#goodsdeliv#</p>
					</div>
					<div class="col-3">
						<p>Базис поставки:</p>
					</div>
					<div class="col-3">
						<p>#goodsdeliv_rus#</p>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<p>Offer validity:</p>
					</div>
					<div class="col-3">
						<p>#offertill#</p>
					</div>
					<div class="col-3">
						<p>Срок действия коммерческого предложения:</p>
					</div>
					<div class="col-3">
						<p>#offertill#</p>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<p>Technical assistance:</p>
					</div>
					<div class="col-3">
						<p>#techassist#</p>
					</div>
					<div class="col-3">
						<p>Техническая поддержка:</p>
					</div>
					<div class="col-3">
						<p>#techassist_rus#</p>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<p>Technical documentation:</p>
					</div>
					<div class="col-3">
						<p>#techdoc#</p>
					</div>
					<div class="col-3">
						<p>Техническая документация:</p>
					</div>
					<div class="col-3">
						<p>#techdoc_rus#</p>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<p>Warranty:</p>
					</div>
					<div class="col-3">
						<p>#warranty#</p>
					</div>
					<div class="col-3">
						<p>Гарантия:</p>
					</div>
					<div class="col-3">
						<p>#warranty_rus#</p>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<p>TOTAL AMOUNT OF THE GOODS:</p>
					</div>
					<div class="col-2">
						<p>#total#</p>
					</div>
					<div class="col-4">
						<p>ИТОГОВАЯ СТОИМОСТЬ ТОВАРА:</p>
					</div>
					<div class="col-2">
						<p>#total#</p>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<p>Packing charges:</p>
					</div>
					<div class="col-2">
						<p>#pack#</p>
					</div>
					<div class="col-4">
						<p>Стоимость упаковки:</p>
					</div>
					<div class="col-2">
						<p>#pack#</p>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<p><b>GENERAL TOTAL AMOUNT OF THE SUPPLY:</b></p>
					</div>
					<div class="col-2">
						<p><b>#general#</b></p>
					</div>
					<div class="col-4">
						<p><b>ИТОГОВАЯ СТОИМОСТЬ ПОСТАВКИ:</b></p>
					</div>
					<div class="col-2">
						<p><b>#general#</b></p>
					</div>
				</div>




			</div>


		</div>
	</body>
</html>